:root {
  --color-main: #fff;
  --color-points: hsl(229, 25%, 31%);
  --color-score: hsl(229, 64%, 46%);
  --color-border: hsl(217, 16%, 45%);
  --color-scissors: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --color-paper: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --color-rock: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  overflow: hidden;
  min-height: 100vh;
  min-width: 100vw;
  padding: 48px;
  
}

header {
  align-items: center;
  border: solid 2px var(--color-border);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
  padding: 12px 24px;
}

h1 {
  color: var(--color-main);
}

h1 span {
  display: block;
  line-height: 24px;
}

main {
  max-width: 600px;
  margin: 0 auto;
  min-height: 70vh;
  padding: 160px 0;
  position: relative;
}



.button img {
  width: 50%;
}

.button {
  aspect-ratio: 1/1;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
  box-shadow: inset 0px -8px 0px rgba(0, 0, 0, 0.25);
  margin-top: 16px;
}

.button__image-container {
  background-color: var(--color-main);
  height: 80%;
  width: 80%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.20);
}

.button--paper {
  background: linear-gradient(var(--color-paper));
}

.button--rock {
  background: linear-gradient(var(--color-rock));
}

.button--scissors {
  background: linear-gradient(var(--color-scissors));
}

.fight {
  color: var(--color-main);
  display: flex;
  align-items: center;
  width: 100%;
  opacity: 0;
  transform: translate(200%, -50%);
}

.fight.slide-left {
  opacity: 1;
  transform: translate(-50%, -50%);
}


.fight .button {
    width: 85%;
}


.hidden {
  display: none;
}

.options {
  aspect-ratio: 313 / 278;
  background-image: url("./images/bg-triangle.svg");
  background-size: cover;
  width: 50%;
  margin: 0 auto;
  
  
}

.options.slide-left {
  
  opacity: 0;
  transform: translate(-200%, -50%);

}






.options .button {
  position: absolute;
  width: 65%;
  cursor: pointer;
}


.options .button--paper {
  left: 0;
  top: 0;
  transform: translate(-50%, -50%);
}

.options .button--rock {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.options .button--scissors {
  right: 0;
  top: 0;
  transform: translate(50%, -50%);
}



/* .fight__title {
  display: block;
  width: 100%;
} */

.pick {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin: 0 auto;
    align-items: flex-start;
    transform: translate(0, 0);
   transition: transform 0.3s;
    
}

.pick__container {
  transform: translate(0, 0);
  transition: transform 0.3s;
  width: 85%;
  display: flex;
  justify-content: center;
}


.pick--ai.moved {
  transform: translate(25%, 0);
}

.pick--player.moved {
  transform: translate(-25%, 0);
}

.pick__placeholder {
  aspect-ratio: 1/1;
  width: 70%;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.25);

}

.pick__title {
  bottom: 100%;
  left: 50%;
  
  display: block;
  width: 100%;
  position: absolute;
  text-align: center;
  padding-bottom: 36px;
  transform: translate(-50%, 0);
}

.points {
  color: var(--color-points);
  font-size: 54px;
  display: block;
  line-height: 42px;
  text-align: center;
}

.score {
  background-color: var(--color-main);
  padding: 12px 24px;
  border-radius: 6px;
}

.score span {
  color: var(--color-score);
}

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.3s, opacity 0.3s;
}

.result {
  display: flex;
  position: absolute;
  justify-content: center;
  flex-wrap: wrap;
  left: 50%;
  top: 50%;
  overflow: hidden;
  transform: scaleX(0) translate(-50%, -50%);
  transition: transform 0.3s;
}

.result.shown {
  transform: scaleX(1) translate(-50%, -50%);
}

.result__button {
  background: color(--color-main);
  border: none;
  padding: 8px 24px;
  color:  hsl(349, 71%, 52%);
  border-radius: 6px;
}

.result__text {
  display: block;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
